body {
  background-color: #ebeaec;
}

.corpo-site {
  margin-top: 5.5rem;
}

.hero-title {
  font-size: 5rem;
}

.hero-text {
  font-size: 2.1rem;
}

.servicos-title {
  font-size: 5rem;
}

.servicos-text {
  font-size: 1.5rem;
}

.sobre-title {
  font-size: 5rem;
}

.sobre-text {
  font-size: 1.5rem;
}
